@charset "UTF-8";

html {
    background: rgb(11,0,255);
    background: linear-gradient(45deg, rgba(11,0,255,1) 0%, rgba(0,255,226,1) 50%, rgba(11,0,255,1) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#container{
    width: 90%;
    font-family: "Tahoma", "sans-serif";
    font-size: 11pt;
    margin: auto;
    background-color: #79ffe3;
    border: 4px solid #49fae9;
    border-radius: 25px;
}

#banner img{
    width: 7%;
    vertical-align: middle;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#left{
    float: left;
    width: 150px;
    margin-bottom: 10px;
}

#tresc {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5pt;
    text-align: justify;
    margin-left: 160px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#newsy{
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 150px;
}

#newsy ul{
    list-style-type: none;
    padding: 0;
}

#newsy a{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: block;
    transition: all 0.4s ease-in-out;
    text-align: center;
    background-color: lightgreen;
}

#newsy a:hover{
    text-decoration: none;
    color: white !important;
    background-color: #002da0;
    border-radius: 5px;
}

#newsy a:visited{
    text-decoration: none;
    color: black;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu li{
    list-style: none;
    font-size: 90%;
}

#menu a{
    text-decoration: none;
    color: black;
    background: #ccc;
    padding: 4pt;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

#lewo a:hover{
    color: white;
    background: #888;
}

#footer{
    clear: both;
    color: white;
    text-align: center;
    background: #888;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 3pt;
}

#footer h4{
    margin: 2px;
}

#menu{
    display: block;
    width: 150px;
    margin-bottom: 20px;
}

table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

thead {
    text-align: center;
    font-weight: bold;
}

td{
    padding: 3px;
}

#menu input{
    width: 146px;
    padding-bottom: 5px;
    margin-bottom: 4px;
}

input[type="submit"], .deleteButton{
    background-color: lightgreen;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover, .deleteButton:hover {
    background-color: #002da0;
    color: white;
    text-decoration: underline;
}

#message {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    min-height: 100px;
}

input:invalid {
    border: 4px solid red;
}

#header form {
    display: inline;
}

.login_outForm{
    width: 365px;
    float: right;
    display: inline;
}

.login_outForm input{
    width: 25%;
}

.login_outForm input[type=submit]{
    width: auto;
}

#banner {
    width: 100%;
}

#footer h4 {
    margin: 0 1px;
}

.fieldHelper{
    display: block;
    background-color: lightgreen;
    color: black;
    border: 1px solid black;
    transition: all 0.4s ease-in-out;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 4px;
}

a {
    color: black;
}

a:visited{
    color: black;
}

.icon{
    width: 25px;
    vertical-align: bottom;
}

#tresc table input{
    width: 90%;
}

@media only screen and (max-width: 800px) {
    #tresc table tr {
        display: grid;
    }

    .login_outForm {
        display: grid;
        width: 100%;
    }
}