@charset "UTF-8";

html {
    background: #49fae9;
}

#kontener{
    width: 90%;
    font-family: "Tahoma", "sans-serif";
    font-size: 11pt;
    margin: auto;
    background-color: #79ffe3;
    border: 4px solid #49fae9;
    border-radius: 25px;
}

#naglowek{
    width: 100%;
    background: #ccc;
    font-size: 200%;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
}

#naglowek h1 {
    margin: 0;
    padding-top: 35px;
}

#left{
    float: left;
    width: 150px;
    margin-bottom: 10px;
}

#stopka {
    color: white;
    padding: 3pt;
    text-align: center;
    background-color: #888;
    margin-top: 10px;
}

#tresc {
    /*background-color: #ffffff;*/
    padding: 5pt;
    text-align: justify;
    margin-left: 160px;
    margin-bottom: 10px;
}

#newsy{
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 10px;
}

#newsy ul{
    list-style-type: none;
    padding: 0;
}

#newsy a{
    text-decoration: underline;
    color: black;
    margin-bottom: 5px;
    display: block;
    background-color: #49fae9;
}

#newsy a:hover{
    text-decoration: none;
    color: black;
}

#newsy a:visited{
    text-decoration: none;
    color: black;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu li{
    list-style: none;
    font-size: 90%;
}

#menu a{
    text-decoration: none;
    color: black;
    background: #ccc;
    padding: 4pt;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

#lewo img{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#menu a:hover{
    color: white;
    background: #888;
}

#stopka{
    clear: both;
    color: white;
    padding: 2pt;
    text-align: center;
    background: #888;
    margin-top: 10px;
}

#menu{
    display: block;
    width: 150px;
    margin-bottom: 20px;
}

#menu a{
    text-decoration: none;
    margin-bottom: 4px;

}

table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

#toggle{
    display: none;
}

#menu input{
    width: 146px;
    padding: 0;
    margin-bottom: 4px;
    transition: 1s;
}

input[type="submit"]:hover {
    background-color: #49fae9;
    color: #002da0;
    text-decoration: underline;
}

#komunikat {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    min-height: 100px;
}

input:invalid {
    border: 4px solid red;
}

#loginForm{
    width: 351px;
    float: right;
}

#loginForm input{
    width: 25%;
}

#loginForm input[type=submit]{
    width: auto;
}

#banner {
    width: 100%;
}

#stopka h4 {
    margin: 0 1px;
}

/*@media only screen and (max-width: 600px){*/
/*    #lewo {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*    }*/

/*    #tresc {*/
/*        margin-left: 0;*/
/*        clear: both;*/
/*    }*/

/*    #newsy{*/
/*        text-align: center;*/
/*        width: 100%;*/
/*    }*/

/*    #kontener {*/
/*        min-width: 400px;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 480px){*/
/*    #lewo img{*/
/*        display: block;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/

/*    #toggle:checked ~ #menu{*/
/*        display: block;*/
/*    }*/

/*    #menu{*/
/*        display: none;*/
/*    }*/
/*}*/